<!-- Nav Bar -->
<div class="row">
  <div class="large-12 columns">
<!--
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="#" class="button">Link 1</a></li>
        <li><a href="#" class="button">Link 2</a></li>
        <li><a href="#" class="button">Link 3</a></li>
        <li><a href="#" class="button">Link 4</a></li>
      </ul>
    </div>
-->
    <h1>Tox <small>Controll all your clouds.</small></h1>
    <hr />
  </div>
</div>
<!-- End Nav -->


<!-- Main Page Content and Sidebar -->

<div class="row">



  <!-- Sidebar -->

  <aside class="large-3 columns">

    <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">Manage clouds</a></li>
      <li><a href="#">Upload</a></li>
    </ul>

    <div class="panel">
      <h5>Featured</h5>
      <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
      <a href="#">Read More &rarr;</a>
    </div>

  </aside>

  <!-- End Sidebar -->
<style type="text/css" media="screen">
  article {
    padding: 5px ;
    border-top: 1px solid #DDDDDD ;

  }
  article:hover {
    background-color: #DDD;
  }

  #files {
    border-top: 1px solid ;
    padding: 5px;
    font-weight: bold;
    background-color: #DDD;
  }
</style>
  <!-- Main Blog Content -->
  <div class="large-9 columns" role="content">
    <header id="files">
      <div class="row">
        <div class="large-4 columns">
          File name
        </div>
        <div class="large-4 columns">
          Created at
        </div>
        <div class="large-4 columns">
          Actions
        </div>
      </div>

    </header>

      <% (0..20).each do %>
    <article>
      <div class="row">
        <div class="large-4 columns">
          file
        </div>
        <div class="large-4 columns">
          data
        </div>
        <div class="large-4 columns">
          action
        </div>
      </div>

    </article>
  <% end %>
  </div>

  <!-- End Main Content -->



</div>

<!-- End Main Content and Sidebar -->


<!-- Footer -->

<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
